extends layout

block content
  h1= title
  p Welcome to #{title}
  P This lab is building a CRUD app to host a recipe database.
  p You can input your recipe of a desired dish with the name, how many it serves, the description, and the instructions.
  p Head to the login screen with this link below!
  a(href='/login') Go to Recipe Site
