extends layout

block content
  h1= title
  p Are you sure you want to delete the following?
  p= recipe.text
  hr
  form(method='POST', action=`/recipes/${recipe.id}/delete`)
    button(type='submit' class="submit") Confirm Delete
    | 
    a(href=`/recipes/${recipe.id}`) Cancel