extends layout

block content
  h1= title
  p Use this to add a recipe
  hr
  if msg 
    p(class='redtext')= msg
  form(method='POST', action='/recipes/add')
    label Dish Name: 
      |
      input(type='text' class="textbox" name='dishName')
    br
    label Occasion: 
      |
      input(type='text' class="textbox" name='occasion') 
    br
    label Instructions: 
      |
      input(type='text' class="textbox" name='instructions') 
    br
    |
    button(type='submit' class="submit") Create contact
    | 
    a(href='/recipes') Cancel