extends layout

block content
  #banner
    h1= 'Add you recipe'
  hr
  if msg 
    p(class='redtext')= msg
  form(method='POST', action='/recipes/add')
    label Dish Name:
      br 
      input(type='text' class="textbox" name='dishName')
      br
    label The Occasion: 
      br
      input(type='text' class="textbox" name='occasion')
      br
    label Servings: 
      br
      input(type='text' class="textbox" name='serving')  
      br
    label Description 
      br
      input(type='text' class="textbox" name='description') 
      br
    textarea(rows="10" placeholder="Enter the recipe instructions" class="textarea" name='instruction')
    br
    |
    button(type='submit' class="submit") Create Recipe
    | 
    a(href='/recipes') Cancel