body {
  padding: 50px;
  background-color: #E9F8F9;
  font-family: 'Lexend Mega', sans-serif, 'Times New Roman', Times, serif;
  font-weight: 750;
}

a {
  color: #00B7FF;
}

.redtext {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

li {
  list-style-type: none;
  background-color: #537FE7;
  width: 300px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

ul {
  padding: 0;
}

a {
  color: black;
}

hr {
  margin-top: 20px;
}

.edit-actions a {
  background-color: #181823;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  color: #E9F8F9;
}

a:link {
  text-decoration: none;
}

.contact-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.infoGroup {
  background-color: #537FE7;
  height: 100px;
  width: 300px;
  padding: 20px;
  padding-top: 3px;
  margin-top: 50px;
  border-radius: 10px;
}

.submit {
  background-color: #181823;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Lexend Mega', sans-serif, 'Times New Roman', Times, serif;
  color: #E9F8F9;
  width: 200px;
  font-size: 15px;
  margin-bottom: 10px;
}