body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(235, 218, 234);
  font-family: 'Lexend Mega', sans-serif, 'Times New Roman', Times, serif;
  font-weight: 750;
}

a {
  color: #00B7FF;
}

.redtext {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

li {
  list-style-type: none;
  background-color: rgb(207, 125, 115);
  width: 300px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

ul {
  padding: 0;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}