/*For all*/
body {
  font: 14px;
  font-weight: 600;
  font-family: 'Lexend Mega', sans-serif, 'Times New Roman', Times, serif;
  background-color: #FFFBF1;
  margin: 0;
  padding-bottom: 50px;
}

#banner {
  background-color: #e9dcbd;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 30px;
}

hr {
  margin-bottom: 30px;
}

pre,
.textbox {
  font-family: 'Lexend Mega', sans-serif, 'Times New Roman', Times, serif;
}

.textbox {
  height: 30px;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: 300px;
}

form {
  padding-left: 30px;
  padding-top: 30px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

/*Table Viewing*/
table {
  margin-top: 50px;
}

.bodyBox {
  border: 50px solid;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

th {
  text-align: left;
}

td {}



.viewButton {
  font-size: 16px;
  border: 1px;
}

.viewCell {
  width: 150px;
  height: 50px;
}

.table {}

/*Single Page Viewing*/
.edit-actions {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.infoGroup {
  margin-left: 15px;
}

.instruction {
  width: 50%;
  line-height: 1.5em;
  border: solid 1px;
  padding: 10px;
}

.recipe-actions {
  margin-left: 15px;
}

.option {
  width: 200px;
  height: 60px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 16px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
  font-family: 'Lexend Mega', sans-serif, 'Times New Roman', Times, serif;
  font-weight: 600;
  padding: 9px;
}

/*Add Page*/
.textarea {
  background-color: #dddddd;
  color: #666666;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  width: 200px;
  height: 200px;
  transition: all 0.2s;
  margin-top: 15px;
  font-weight: 600;
  font-family: 'Lexend Mega', sans-serif, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  text-align: center;
}

.textarea:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.textarea:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: #333333;
}

.submit {
  width: 180px;
  height: 60px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 16px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-family: 'Lexend Mega', sans-serif, 'Times New Roman', Times, serif;
  font-weight: 600;
}

/*All Recipes Page*/
#recipes-wrapper {
  margin-left: 50px;
}