extends layout

block content
  h1= title
  p Are you sure you want to delete the following?
  p= contact.text
  hr
  form(method='POST', action=`/contacts/${contact.id}/delete`)
    button(type='submit') Confirm Delete
    | 
    a(href=`/contacts/${todo.id}`) Cancel