extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is Lab 2 where I create a small database app that allows users to input contact information<br> which they can edit or delete afterwards
  p My Contact Info:<br>Philip Le<br>ple2@hawk.iit.edu
  a(href='/contacts') View Contact Database
