extends layout

block content
  h1= title
  p Use this to edit this form
  hr
  if msg 
    p(class='redtext')= msg
  form(method='POST', action=`/todos/${todo.id}/edit`)
    input(type='text', name='todoText', value=todo.text) 
    | 
    button(type='submit') Save Changes
    | 
    a(href='/todos') Cancel